{# @var \Anomaly\Streams\Platform\View\ViewTemplate template #}
<!doctype html>

<html lang="{{ locale() }}">

<head>

    {% include "platform::before_metadata" %}
    {% include "theme::partials/metadata" %}
    {% include "platform::after_metadata" %}
</head>

<body class="{{ locale().isRtl() ? ' rtl' }}">
{% block body %}
    <py-layout id="app">
{#        <template #header-toolbar>
            {% block header_toolbar %}
                <py-toolbar-title v-if="!layout.sidebar.collapsed" :width="layout.sidebar.normalWidth" title="CRVS" link="{{ url('admin') }}"></py-toolbar-title>
                <py-toolbar-toggle></py-toolbar-toggle>
                <py-toolbar-item>
                    {{ menu_json('admin_header')|raw }}
                </py-toolbar-item>
            {% endblock %}
        </template>
        #}

{#
        <template #sidebar>
         {% block sidebar %}
                {% for navigation in template.structure %}
                    {% if navigation.children.isNotEmpty() %}
                        <el-submenu index="{{ navigation.key }}"
                                    data-slug="{{ navigation.key }}"
                                    data-key="{{ navigation.key }}"
                                    popper-class="py-layout__sidebar-menu-popper"
                        >
                            <template slot="title">
                                {% if navigation.icon %}
                                    {{ icon(navigation.icon) }}
                                {% endif %}
                                <span>{{ trans(navigation.title) }}</span>
                            </template>
                            {% for section in navigation.children %}
                                {% if not section.subSection %}
                                    <el-menu-item tag="a"
                                                  index="{{ section.key }}"
                                                  data-slug="{{ section.key }}"
                                                  href="{{ section.url }}"
                                            {{ html_attributes(section.attributes) }}
                                    >
                                        <span>{{ trans(section.title) }}</span>
                                    </el-menu-item>
                                {% endif %}
                            {% endfor %}
                        </el-submenu>
                    {% else %}
                        <el-menu-item tag="a"
                                      index="{{ navigation.slug }}"
                                      href="{{ navigation.url }}"
                                      slug="{{ navigation.slug }}"
                                {{ html_attributes(navigation.attributes) }}
                        >
                            {% if navigation.icon %}
                                {{ icon(navigation.icon) }}
                            {% endif %}
                            <span>{{ trans(navigation.title) }}</span>
                        </el-menu-item>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </template>
 #}
        <template #breadcrumb>
            {% include "theme::partials/buttons" %}
            {% block breadcrumb %}
                {{ breadcrumb() }}
            {% endblock %}

        </template>

        <template #messages>
            {% block messages %}
                {% include "theme::partials/messages" %}
            {% endblock %}
        </template>


        <template #default>
            {% block content %}{% endblock %}
        </template>

        <template #footer>
            {% block footer %}
{#                {{ menu('admin_footer').pyroAdmin()|raw }}#}
            {% endblock %}
        </template>
    </py-layout>
{% endblock %}


{% include "theme::partials/modals" %}

<script>

</script>
{% block assets %}
{% include "theme::partials/assets" %}
{% endblock %}
</body>
</html>
